/* style guide
1278px, 12칼럼(1칼럼 79px, 거터 30px)
섹션 바텀값 100px 내외

<main color>
검정색        color: #222;
흰색          color: #fff;
<point color>
주황색     color: #ff6c57;
<sub color>
연노란색   color: #faf7e8;
연주황색   color: #FDEAE0;

<제목>
국문     font-size: 39px;
영문     font-size: 46px;
<부제목>
국문     font-size: 19px;
영문     font-size: 32px;
<탭>
국문     font-size: 18px;
영문     font-size: 20px;
<본문>
상품이름 font-size: 17px;
맛       font-size: 16px;
가격     font-size: 16px; font-weight: 700;
*/



/*-------------path---------------*/
.path {
	position: sticky;
	padding: 20px 0 40px;
	top: 60px;
}
.path li {display: inline-block;}
.path li a {font-size: 13px; color: #777;}
.path li a span {
	vertical-align: middle;
	font-size: 15px;
	color: #777;
}



/*-------------middle_contants---------------*/
.middle_contants {
	display: flex;
	gap: 100px;
}

.side_options { /*왼쪽 옵션창*/
	flex: 1;
	position: sticky;
	top: 150px;
	height: 200px;
	overflow: auto;
}
.sub__title {
	text-align: center;
	margin-bottom: 20px;
}
.sub__title h2 {font-size: 21px;}
.sub__title .top_options {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin: 20px 0;
}
.sub__title .top_options a {
  display: block;
	padding: 5px 10px;
	font-size: 15px;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	box-sizing: border-box;
}
.top_options_active {
  font-weight: 500;
  text-decoration: underline;
}
.side__option {
	background-color: #FDEAE0;
}



.sub_items {
	flex: 3;
	height: 2400px;
}
.sub_items .items { /*맛 선택 시트*/
  overflow: visible;
}





/*-------------path---------------*/
/*-------------path---------------*/
/*-------------path---------------*/


.box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}




